#base
flask==2.3.2
flask-restx==0.5.1
numpy==1.19.5
pandas==1.3.2 #pandas depends on numpy, so it is installed after numpy
#dataframe persistence
pyarrow==5.0.0 #for pandas to_feather
#search
rapidfuzz==1.4.1
#wsgi server
gunicorn==20.1.0
